{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'frontend/wufooTheme2/css/form.css' %}" type="text/css"/>
<style type="text/css">
    form li {
        padding: 0px;
    }
</style>
{% endblock %}

{% block related_subjects %}
{% endblock related_subjects %}

{% block content %}
<!-- ==== BLOG START == -->
<div class="col-sm-8">
    <h1>{{ exam.name }}</h1>

    <div class="post">
        {% if message %}
            <span class="text-danger">{{ message }}</span>
        {% else %}
            {% if total_correct %}
                <span class="text-danger">Total correct: {{ total_correct }} / {{ exam.num_question }}</span>
            {% else %}
                <span id="timer"></span>
            {% endif %}
        {% endif %}
    </div>

    <form method="POST" action='' class="wufoo">
        <ul>
            {% for frm in form %}
            <li>
                {{ frm.id }}
                {{ frm.content }}
                {{ frm.type }}
                {{ frm.level }}
                <label class="desc">{{ forloop.counter }}. {{ frm.content.value }}</label>

                {% for key, value in frm.fields.answer.choices %}
                <div style="display: block;">
                    {% if frm.type.value|upper == '1' %}
                        <input {% if key|upper in frm.answer.value|upper %} checked {% endif %}
                               id="id_form-{{ forloop.parentloop.counter0 }}-answer_{{ forloop.counter }}"
                               name="form-{{ forloop.parentloop.counter0 }}-answer" type="radio" value="{{key}}"/>
                    {% elif frm.type.value|upper == '2' %}
                        <input {% if key|upper in frm.answer.value|upper %} checked {% endif %}
                               id="id_form-{{ forloop.parentloop.counter0 }}-answer_{{ forloop.counter }}"
                               name="form-{{ forloop.parentloop.counter0 }}-answer" type="checkbox" value="{{key}}"/>
                    {% endif %}
                    <label style="display: inline !important;" class="{% if key|upper in frm.answer.value|upper and total_correct and value.correct %} text-success {% elif key|upper in frm.answer.value|upper and total_correct and not value.correct %} text-danger {% endif %}">{{ value.content }}</label>
                </div>
                {% endfor %}
            </li>
            {% endfor %}

            {% if total_correct %}
                <li style="margin-top: 10px;">
                    <div>
                        <a href="{% url 'exams:index' %}" class="btTxt btn btn-success submit">Back</a>
                    </div>
                </li>
            {% else %}
                {% csrf_token %}
                {{ form.management_form }}
                <input type="hidden" name="time_make_exam" value="{{ time_make_exam }}" />
                <input type="hidden" name="minute" value="{{ exam.minute }}" />

                <li style="margin-top: 10px;">
                    <div>
                        <input id="saveForm" name="saveForm" class="btTxt btn btn-success submit" value="Submit" type="submit">
                    </div>
                </li>
            {% endif %}
        </ul>
    </form>
</div>
<!-- ==== BLOG END == -->
{% endblock %}

{% block jsfiles %}
    <script type="text/javascript">
        var count = {{ exam.minute }} * 60;
        var counter = setInterval(timer, 1000); //1000 will  run it every 1 second

        function townum(num) {
            if (num < 10) {
                return '0' + num;
            } else {
                return num;
            }
        }

        function timer() {
            count = count - 1;
            if (count == -1) {
                clearInterval(counter);
                return;
            }

            var seconds = count % 60;
            var minutes = Math.floor(count / 60);
            var hours = Math.floor(minutes / 60);
            minutes %= 60;
            hours %= 60;

            document.getElementById("timer").innerHTML = townum(hours) + ":" + townum(minutes) + ":" + townum(seconds); // watch for spelling
        }
    </script>
{% endblock %}