{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'frontend/wufooTheme2/css/form.css' %}" type="text/css"/>
{% endblock %}

{% block related_subjects %}
{% endblock related_subjects %}

{% block content %}
<!-- ==== BLOG START == -->
<div class="col-sm-8">
    <h1>{{ exam.name }}</h1>
    <hr>
    {% if total_correct %}
        <p class="text-danger">Total correct: {{ total_correct }} / {{ exam.num_question }}</p>
    {% else %}
        {% if form.errors %}
        <p class="text-danger">Please choose all question !</p>
        {% endif %}
    {% endif %}

    <form method="POST" action='' class="wufoo">
        {% csrf_token %}
        {{ form.management_form }}

        <ul>
            {% for frm in form %}
            <li>
                {{ frm.id }}
                {{ frm.content }}
                <label class="desc">{{ forloop.counter }}. {{ frm.content.value }}</label>

                {% for key, value in frm.fields.answer.choices %}
                <div style="display: block;">
                    <input {% if frm.answer.value|upper == key|upper %} checked {% endif %}
                           id="id_form-{{ forloop.parentloop.counter0 }}-answer_{{ forloop.counter }}"
                           name="form-{{ forloop.parentloop.counter0 }}-answer" type="radio" value="{{key}}"/>
                    <label style="display: inline !important;" class="{% if frm.answer.value|upper == key|upper and total_correct and value.correct %} text-success {% elif frm.answer.value|upper == key|upper and total_correct and not value.correct %} text-danger {% endif %}">{{ value.content }}</label>
                </div>
                {% endfor %}
            </li>
            {% endfor %}
            <li class="buttons ">
                <div>
                    <input id="saveForm" name="saveForm" class="btTxt submit" value="Submit" type="submit">
                </div>
            </li>
        </ul>
    </form>
</div>
<!-- ==== BLOG END == -->
{% endblock %}