{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block related_subjects %}
{% endblock related_subjects %}

{% block sidebar %}
    <div class="col-sm-6">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/tAX2A7m-0R4" allowfullscreen="" height="480" width="853"></iframe>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-6">
        <h1>Cộng đồng Python Việt Nam</h1>
        <p>Cộng đồng Python Việt Nam được thành lập năm 2012 với mục đích đưa ngôn ngữ Python đến các lập trình viên ở Việt Nam. Python Việt Nam hình thành khá tình cờ, bền vững bởi tinh thần ham học hỏi các công nghệ, ngôn ngữ mới.</p>
        <p>Qua 3 năm hoạt động, cộng đồng đã có những thành tích nhất định phục vụ cho bạn bè và đồng nghiệp trên khắp cả nước. Cầu nối khóa học này, được xây dựng bằng Python Django nhằm cung cấp công cụ để cho anh em bạn bè có thể dạy – chia sẻ, học – nâng cao sự hiểu biết.</p>
        <p>Các khóa học được cung cấp trên tiêu chí:</p>                        
        <ul>
            <li>- Minh họa qua các video minh họa.</li>
            <li>- Lấy ví dụ thực tiễn.</li>
        </ul>
        <p>Chúc các bạn có một nơi giao lưu sôi nổi.</p>
    </div>
{% endblock %}
