{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block sidebar %}{% endblock %}

{% block content %}{% endblock %}


<!-- ========== CONTENT START ========== -->
{% block precontent %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="{{ teacher.avatar }}" alt="{{ teacher.username }}" class="img-responsive"/>
            </div>
            <div class="col-sm-6">
                <h1>{{ teacher.username }}</h1>

                <div>
                    {{ teacher.info|safe }}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<!-- ========== REVIEWS START ========== -->

<section id="teachers-reviews">
    <div class="tint"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" data-scroll-reveal>

                <!-- OWL CAROUSEL START -->
                <div class="owl-carousel">

                    <div class="item">
                        <blockquote>
                            {{ teacher.description }}
                        </blockquote>
                    </div>
                </div>
                <!-- OWL CAROUSEL END -->

            </div>
        </div>
    </div>
</section>

<!-- ========== REVIEWS END ========== -->

<!-- ========== SKILLS START ========== -->

<!--<section id="skills">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-sm-12">-->
                <!--<h2>John's key skills</h2>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien-->
                    <!--ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut-->
                    <!--malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat-->
                    <!--enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque-->
                    <!--massa eros, molestie at mi eget, aliquam tristique eros. Nullam aliquet placerat magna ut eleifend.-->
                    <!--Phasellus iaculis tristique laoreet.Donec vitae auctor nisl. Ut malesuada felis in erat rutrum-->
                    <!--ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna.-->
                    <!--Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi-->
                    <!--eget, aliquam tristique eros.</p>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar" role="progressbar" data-transitiongoal="90">-->
                        <!--<span class="pull-left">Progresssive Web Design</span>-->
                        <!--<span class="pull-right">90%</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar" role="progressbar" data-transitiongoal="100">-->
                        <!--<span class="pull-left">HTML5</span>-->
                        <!--<span class="pull-right">100%</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar" role="progressbar" data-transitiongoal="80">-->
                        <!--<span class="pull-left">CSS3</span>-->
                        <!--<span class="pull-right">80%</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar" role="progressbar" data-transitiongoal="70">-->
                        <!--<span class="pull-left">jQuery</span>-->
                        <!--<span class="pull-right">70%</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar" role="progressbar" data-transitiongoal="80">-->
                        <!--<span class="pull-left">Online Marketing</span>-->
                        <!--<span class="pull-right">80%</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="progress">-->
                    <!--<div class="progress-bar" role="progressbar" data-transitiongoal="90">-->
                        <!--<span class="pull-left">SEO</span>-->
                        <!--<span class="pull-right">90%</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

{% endblock precontent %}
<!-- ========== SKILLS END ========== -->

<!-- ========== RELATED COURSES START ========== -->
{% block related_subjects %}

<section id="featured-posts" class="alt-background">
    <div class="container">

        <h2 class="text-center carousel-title">
            Related Courses
            <a href="#">View All Courses</a>
        </h2>

        <!-- OWL CAROUSEL START -->
        <div class="owl-carousel">

            <div class="item">
                <a href="#"><img src="{% static 'frontend/images/course01.jpg' %}" alt="" class="img-responsive"/></a>

                <h3><a href="#">Creative Website Design and Development</a></h3>

                <div class="meta">
                    <p><a href="#">by John Doe</a></p>

                    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i></p>
                </div>
                <div class="price">$39.90</div>
            </div>

            <div class="item">
                <a href="#"><img src="{% static 'frontend/images/course02.jpg' %}" alt="" class="img-responsive"/></a>

                <h3><a href="#">Introducing to Digital Photography</a></h3>

                <div class="meta">
                    <p><a href="#">by John Doe</a></p>

                    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i></p>
                </div>
                <div class="price">$29.90</div>
            </div>

            <div class="item">
                <a href="#"><img src="{% static 'frontend/images/course03.jpg' %}" alt="" class="img-responsive"/></a>

                <h3><a href="#">Adobe Illustrator and Vector Design Basics</a></h3>

                <div class="meta">
                    <p><a href="#">by John Doe</a></p>

                    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i></p>
                </div>
                <div class="price">$34.90</div>
            </div>

            <div class="item">
                <a href="#"><img src="{% static 'frontend/images/course04.jpg' %}" alt="" class="img-responsive"/></a>

                <h3><a href="#">Introduction to Search Engine Optimisation</a></h3>

                <div class="meta">
                    <p><a href="#">by John Doe</a></p>

                    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                            class="fa fa-star"></i><i class="fa fa-star"></i></p>
                </div>
                <div class="price">$27.90</div>
            </div>

        </div>
        <!-- OWL CAROUSEL END -->

    </div>
</section>

{% endblock related_subjects %}
<!-- ========== RELATED COURSES END ========== -->
