{% extends 'layout/base.html' %}
{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Log In</h1>
        {# <h3>Log in here.</h3> #}
        <a href="{% provider_login_url "facebook" method="oauth2" %}">
            <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xaf1/t39.2178-6/851579_209602122530903_1060396115_n.png">
        </a>
    </div>
{% endblock content %}
