{% extends 'layout/base.html' %}
{% load staticfiles %}
{% load subjects_tag %}

{% block cssfiles %}
<link href="{% static 'frontend/royal/css/royalslider.css' %}" rel="stylesheet">
<link href="{% static 'frontend/royal/css/rs-default.css' %}" rel="stylesheet">
<link href="{% static 'frontend/royal/css/reset.css' %}" rel="stylesheet">
<link href="{% static 'frontend/royal/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<div class="col-xs-12">
    <div id="video-gallery" class="royalSlider videoGallery rsDefault" style="margin-top: 160px; margin-bottom: 50px;">
        {% for item in all_task %}
            <a class="rsImg" data-rsw="843" data-rsh="473" data-rsVideo="{{ item.link_youtube }}"
               href="https://i.ytimg.com/vi/{{ task.link_youtube|get_youtube_id }}/hqdefault.jpg">
                <div class="rsTmb">
                    <span>{{ item.name }}</span>
                    <!--<span>from {{ item.created_date }}</span>-->
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block jsfiles %}
<script src="{% static 'frontend/royal/js/jquery.royalslider.min.js' %}"></script>
<script>
    jQuery(document).ready(function ($) {
        $('#video-gallery').royalSlider({
            arrowsNav: false,
            fadeinLoadedSlide: true,
            controlNavigationSpacing: 0,
            controlNavigation: 'thumbnails',
            thumbs: {
                autoCenter: false,
                fitInViewport: true,
                orientation: 'vertical',
                spacing: 0,
                paddingBottom: 0
            },
            keyboardNavEnabled: true,
            imageScaleMode: 'fill',
            imageAlignCenter: true,
            slidesSpacing: 0,
            loop: false,
            loopRewind: true,
            numImagesToPreload: 3,
            video: {
                autoHideArrows: true,
                autoHideControlNav: false,
                autoHideBlocks: true,
                youTubeCode: '<iframe src="https://www.youtube.com/embed/%id%?rel=1&autoplay=1&showinfo=0" frameborder="no" allowFullscreen></iframe>'
            },
            autoScaleSlider: true,
            autoScaleSliderWidth: 960,
            autoScaleSliderHeight: 450,

            /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
            imgWidth: 640,
            imgHeight: 360

        });
    });
</script>
{% endblock %}