{% extends 'admin/layout/base.html' %}
{% load staticfiles %}

{% block 'css' %}
    <link rel="stylesheet" href="{% static "admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" %}">
{% endblock %}

{% block 'content' %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Teacher
            <small>Update</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/teacher">Teacher</a></li>
            <li class="active">Update</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <div class="pull-left">
                                <a class="btn btn-xs btn-warning" href="/admin/teacher/">Back</a>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% csrf_token %}

                            <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                                <label for="{{ form.username.id_for_label }}">Username:</label>
                                <input name="{{ form.username.name }}" type="text" class="form-control" value="{{ form.username.value|default_if_none:"" }}" placeholder="Enter username">
                                <span class="help-block">{{ form.username.errors }}</span>
                            </div>

                            <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                                <label for="{{ form.email.id_for_label }}">Email:</label>
                                <input name="{{ form.email.name }}" type="text" class="form-control" value="{{ form.email.value|default_if_none:"" }}" placeholder="Enter email">
                                <span class="help-block">{{ form.email.errors }}</span>
                            </div>

                            <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                                <label for="{{ form.password.id_for_label }}">Password:</label>
                                <input name="{{ form.password.name }}" type="password" class="form-control" value="" placeholder="Enter password">
                                <span class="help-block">{{ form.password.errors }}</span>
                            </div>

                            <div class="form-group {% if form.re_password.errors %} has-error {% endif %}">
                                <label for="{{ form.re_password.id_for_label }}">Re Password:</label>
                                <input name="{{ form.re_password.name }}" type="password" class="form-control" value="" placeholder="Enter re password">
                                <span class="help-block">{{ form.re_password.errors }}</span>
                            </div>

                            <div class="form-group {% if form.avatar.errors %} has-error {% endif %}">
                                <label>Avatar</label>
                                <input name="{{ form.avatar.name }}" type="file"/>
                                <span class="help-block">{{ form.avatar.errors }}</span>
                            </div>
                            
                            <div class="form-group {% if form.first_name.errors %} has-error {% endif %}">
                                <label for="{{ form.first_name.id_for_label }}">Firstname:</label>
                                <input name="{{ form.first_name.name }}" type="text" class="form-control" value="{{ form.first_name.value|default_if_none:"" }}" placeholder="Enter firstname">
                                <span class="help-block">{{ form.first_name.errors }}</span>
                            </div>

                            <div class="form-group {% if form.last_name.errors %} has-error {% endif %}">
                                <label for="{{ form.last_name.id_for_label }}">Lastname:</label>
                                <input name="{{ form.last_name.name }}" type="text" class="form-control" value="{{ form.last_name.value|default_if_none:"" }}" placeholder="Enter lastname">
                                <span class="help-block">{{ form.last_name.errors }}</span>
                            </div>                            

                            <div class="form-group {% if form.description.errors %} has-error {% endif %}">
                                <label for="{{ form.description.id_for_label }}">Description:</label>
                                <textarea class="form-control" name="{{ form.description.name }}" placeholder="Enter {{ form.description.name }}">{{ form.description.value|default_if_none:"" }}</textarea>
                                <span class="help-block">{{ form.description.errors }}</span>
                            </div>

                            <div class="form-group {% if form.info.errors %} has-error {% endif %}">
                                <label for="{{ form.info.id_for_label }}">Info:</label>
                                <textarea class="form-control textarea" name="{{ form.info.name }}" placeholder="Enter {{ form.info.name }}">{{ form.info.value|default_if_none:"" }}</textarea>
                                <span class="help-block">{{ form.info.errors }}</span>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock %}

{% block 'js' %}
    <script src="{% static 'admin/plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'admin/plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
    <script src="{% static 'admin/plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
    <script src="{% static 'admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

    <script type="text/javascript">
        $(function() {
            $(".datemask").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        });

        $(function () {
            //bootstrap WYSIHTML5 - text editor
            $(".textarea").wysihtml5();
        });
    </script>
{% endblock %}
