{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block related_subjects %}
{% endblock related_subjects %}

{% block sidebar %}
    <div class="col-sm-5">
        <div class="row">
            <div class="col-xs-12">
                <h1>Contact Details</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-3">
                <i class="fa fa-map-marker fa-5x primary-color"></i>
            </div>
            <div class="col-lg-10 col-xs-9">
                <h3 class="no-margin">Address</h3>
                Dong Da, Ha Noi<br>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-3">
                <i class="fa fa-phone fa-5x primary-color"></i>
            </div>
            <div class="col-lg-10 col-xs-9">
                <h3 class="no-margin">Phone &amp; Fax</h3>
                Phone: <a href="tel:0918612485">091.861.2485</a><br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-3">
                <i class="fa fa-envelope fa-4x primary-color"></i>
            </div>
            <div class="col-lg-10 col-xs-9">
                <h3 class="no-margin">Email</h3>
                Email: <a href="mailto:khanhnn@pythonvietnam.info">khanhnn@pythonvietnam.info</a><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-sm-7">
        <p>&nbsp;</p>
        <img src="{% static 'frontend/images/contact.jpg' %}" alt="" class="img-responsive">
    </div>
{% endblock %}
